    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                      Hi there!
                    </p>
                    <p>
                      I am Marius, a software engineer with a passion for building Software-as-a-Service web products.
                      In my 11+ years of work experience I got pretty good at working in distributed teams, helping small teams grow and reach their full potential.
                    </p>
                    <p>
                      Sharing my experience with others and creating opportunities for everyone to learn from each other, is quite important to me.
                    </p>
                    <p>
                      On a regular work day, I prefer to write clean and modular code to get the job done.
                      I believe "less is more": a piece of code is not perfect when there is nothing more to add, but when there is nothing more to take from it.
                      Plus, it is easy to understand and change, without fear of breaking anything.
                    </p>
                    <p>
                      My motto is: “Where others see a Problem, I see an Opportunity”
                    </p>
                </div>
            </div>
        </div>
    </section>
