    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                      I am a software developer from Milan passioned about <em>web development</em> and <em>software-as-a-service</em> solutions. I prefer writing <em>clean</em> and <em>modular code</em> to get the job done.
                    </p>
                    <p>
                      I believe &ldquo;less is more&rdquo;, a piece of code is not perfect when there is nothing more to add, but when there is nothing more to take from it.
                    </p>
                    <p>
                      I use the <a href="http://pomodorotechnique.com/" target="_blank">Pomodoro technique</a> to organise myself and get things done on a daily basis.
                    </p>
                    <p>
                      It might surprise some... I Love to work with Legacy code! Where others see a Problem I see an Opportunity.
                    </p>
                    <p>
                      Currently I work at  <a href="https://www.gild.com/" target="_blank">Gild</a> in a team of 9 developers. By joining the <a href="https://www.gild.com/the-gild-team/" target="_blank">Gild team</a> I am looking to help create the products that will bring <a href="https://www.gild.com/gild-platform/" target="_blank">meritocracy to hiring</a>.
                    </p>
                    <p>
                      In my spare time I like to learn new technologies and build small and useful projects.
                    </p>
                </div>
            </div>
        </div>
    </section>
