---
---

<section class="mb-20">
  <h2 class="text-2xl font-medium mb-12">Education</h2>

  <div class="mb-8 leading-relaxed">
    <p class="text-gray-600 mb-2">Graduated in 2012 cum laude</p>
    <p class="text-medium font-bold mb-1">Master in Computer Science</p>
    <p>University of Milan, Italy</p>
  </div>

  <div class="mb-8 leading-relaxed">
    <p class="text-gray-600 mb-2">Graduated in 2008</p>
    <p class="text-medium font-bold mb-1">Bachelor in Computer Science</p>
    <p>University of Milan, Italy</p>
  </div>
</section>
