---
type WorkItem = {
  period: string;
  title: string;
  company: string;
  url: string;
};

const workExperience: WorkItem[] = [
  {
    period: '2023 - Present',
    title: 'Founder and Head of Engineering',
    company: 'Norm',
    url: 'https://norm.ch/',
  },
  {
    period: '2019 - 2023',
    title: 'Engineering Leader',
    company: 'Ledgy',
    url: 'https://ledgy.com/',
  },
  {
    period: '2018 - 2019',
    title: 'Full Stack Engineer',
    company: 'On',
    url: 'https://www.on.com/',
  },
  {
    period: '2016 - 2018',
    title: 'Engineering Team Lead',
    company: 'XING',
    url: 'https://www.xing.com/',
  },
  {
    period: '2015 - 2016',
    title: 'Lead Software Engineer',
    company: 'BuddyBroker',
    url: 'https://www.crunchbase.com/organization/buddy-broker',
  },
  {
    period: '2013 - 2015',
    title: 'Frontend Software Engineer',
    company: 'Gild',
    url: 'https://www.crunchbase.com/organization/gild',
  },
];
---

<section class="mb-20">
  <h2 class="text-2xl font-medium mb-12">Work Experience</h2>

  {workExperience.map((item) => (
    <div class="mb-8 leading-relaxed">
      <p class="text-gray-600 mb-2">{item.period}</p>
      <p class="text-medium font-bold mb-1">{item.title}</p>
      <a href={item.url} target="_blank" rel="noreferrer" class="text-indigo-600 hover:text-indigo-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-600/50 focus-visible:ring-offset-2 rounded-sm">
        {item.company}
      </a>
    </div>
  ))}
</section>
