---
import AboutMeMessage from '@components/about/AboutMeMessage.astro';
import Education from '@components/about/Education.astro';
import ViewMyFullCvLink from '@components/about/ViewMyFullCvLink.astro';
import WorkExperience from '@components/about/WorkExperience.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="About – Marius Colacioiu">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl sm:text-5xl font-light mb-24 text-center">About</h1>
    <div class="space-y-24">
      <AboutMeMessage />
      <WorkExperience />
      <Education />
      <ViewMyFullCvLink />
    </div>
  </div>
</Layout>
