---
import AboutMeMessage from '@components/about/AboutMeMessage.astro';
import Education from '@components/about/Education.astro';
import ViewMyFullCvLink from '@components/about/ViewMyFullCvLink.astro';
import WorkExperience from '@components/about/WorkExperience.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="About - Marius Colacioiu">
  <div>
    <h1 class="text-3xl font-medium mb-10">About</h1>
    <AboutMeMessage />
    <WorkExperience />
    <Education />
    <ViewMyFullCvLink />
  </div>
</Layout>
