---
import ContactInfo from '@components/contact/ContactInfo.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Contact - Marius Colacioiu">
  <div>
    <h1 class="text-3xl font-medium mb-10">Contact</h1>
    <ContactInfo />
  </div>
</Layout>
