---
import ContactInfo from '@components/contact/ContactInfo.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Contact – Marius Colacioiu">
  <div class="max-w-4xl mx-auto">
    <h1 class="text-4xl sm:text-5xl font-light mb-24 text-center">Contact</h1>
    <ContactInfo />
  </div>
</Layout>
