---
import AboutMeSummary from '@components/index/AboutMeSummary.astro';
import HelloMessage from '@components/index/HelloMessage.astro';
import MainImage from '@components/index/MainImage.astro';
import ReachOutMessage from '@components/index/ReachOutMessage.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Marius Colacioiu - Engineering Leader and Entrepreneur">
  <div class="space-y-20 sm:space-y-24">
    <HelloMessage />
    <MainImage />
    <AboutMeSummary />
    <ReachOutMessage />
  </div>
</Layout>
