---
import AboutMeSummary from '@components/index/AboutMeSummary.astro';
import HelloMessage from '@components/index/HelloMessage.astro';
import ReachOutMessage from '@components/index/ReachOutMessage.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Marius Colacioiu – Engineering Leader and Entrepreneur">
  <div class="space-y-32 sm:space-y-40">
    <HelloMessage />
    <AboutMeSummary />
    <ReachOutMessage />
  </div>
</Layout>
