---
---

<div class="text-xl sm:text-lg leading-loose">
  <p class="mb-8">
    If you find my expertise useful and think I can help, or simply want to say hello,
    <a
      href="mailto:hello@marius-colacioiu.com"
      class="text-indigo-700 hover:text-indigo-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-600/50 focus-visible:ring-offset-2 rounded-sm"
    >
      send me an email
    </a>{' '}
    or a message on{' '}
    <a
      href="https://www.linkedin.com/in/mariuscolacioiu/"
      class="text-indigo-700 hover:text-indigo-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-600/50 focus-visible:ring-offset-2 rounded-sm"
      target="_blank"
      rel="noreferrer"
    >
      LinkedIn
    </a>
    .
  </p>
  <p>
    <span class="font-bold">Marius Colacioiu</span> based in Zürich, Switzerland
  </p>
</div>
