---
type Props = {
  currentPath: string;
};

const { currentPath } = Astro.props;

const NAVIGATION_ITEMS = [
  { link: '/', title: 'Home' },
  { link: '/about', title: 'About' },
  { link: '/resources', title: 'Resources' },
  { link: '/contact', title: 'Contact' },
];
---

<header class="flex items-center justify-between pb-20">
  <a href="/" class="text-bold text-3xl hover:text-indigo-600 transition-colors duration-200">
    colmarius
  </a>
  <nav>
    <ul class="hidden space-x-8 sm:flex">
      {NAVIGATION_ITEMS.map((item) => (
        <li>
          <a
            href={item.link}
            class={`font-light uppercase hover:text-indigo-600 my-8 border-indigo-600 transition-colors duration-200 ${
              currentPath === item.link ? 'text-indigo-600 border-b-2 pb-2' : ''
            }`}
          >
            {item.title}
          </a>
        </li>
      ))}
    </ul>

    <button
      class="flex sm:hidden"
      onclick="toggleMobileMenu()"
      id="mobile-menu-button"
    >
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
    <div id="mobile-menu" class="hide-menu-nav">
      <div class="absolute top-0 right-0 mt-1 p-4" onclick="closeMobileMenu()">
        <svg
          class="h-8 w-8 text-gray-600"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="22" y1="2" x2="2" y2="22" />
          <line x1="2" y1="2" x2="22" y2="22" />
        </svg>
      </div>
      <ul class="flex flex-col items-center justify-between min-h-[150px]">
        {NAVIGATION_ITEMS.map((item) => (
          <li>
            <a
              href={item.link}
              onclick="closeMobileMenu()"
              class={`font-light uppercase hover:text-indigo-600 my-8 border-indigo-600 transition-colors duration-200 ${
                currentPath === item.link ? 'text-indigo-600 border-b-2 pb-2' : ''
              }`}
            >
              {item.title}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </nav>
</header>

<style>
  .hide-menu-nav {
    display: none;
  }

  .show-menu-nav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
</style>

<script>
  function toggleMobileMenu() {
    const menu = document.getElementById('mobile-menu');
    if (menu?.classList.contains('hide-menu-nav')) {
      menu.classList.remove('hide-menu-nav');
      menu.classList.add('show-menu-nav');
    } else {
      closeMobileMenu();
    }
  }

  function closeMobileMenu() {
    const menu = document.getElementById('mobile-menu');
    menu?.classList.remove('show-menu-nav');
    menu?.classList.add('hide-menu-nav');
  }

  // @ts-ignore
  window.toggleMobileMenu = toggleMobileMenu;
  // @ts-ignore
  window.closeMobileMenu = closeMobileMenu;
</script>
