---
---

<div class="max-w-3xl mx-auto mb-8">
  <p class="mb-8 font-light text-xl leading-loose text-gray-800">
    I help startups build exceptional products from the ground up. Over the past {new Date().getFullYear() - 2012} years, I've been one of the first employees at several startups, shaping engineering culture and building products in PropTech, HR-tech, and Fin-tech.
  </p>
  <p class="mb-8 font-light text-xl leading-loose text-gray-800">
    Currently building <a href="https://norm.ch" class="text-indigo-700 hover:text-indigo-500 transition-colors duration-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-600/50 focus-visible:ring-offset-2 rounded-sm">NORM</a>, with a talented team, on a mission to make living energy efficient.
  </p>
</div>
