---
---

<div class="lg:mx-28 md:mx-20">
  <p class="mb-8 font-light text-xl sm:text-lg">
    For the past {new Date().getFullYear() - 2012} years, I have been busy working in the startup world building products in PropTech, HR-tech and Fin-tech. Several times, I have been one of the first employees in newly born startups having a big impact on the Engineering culture. With a background in computer science, I specialize in building web products from scratch.
  </p>
  <p class="mb-8 font-light text-xl sm:text-lg">
    Currently, I'm focusing on building Norm together with a highly talented team, on a mission to make living energy efficient.
  </p>
</div>
