---
---

<div class="max-w-3xl mx-auto mb-16">
  <p class="mb-12 font-light text-xl leading-loose text-gray-800">
    I help startups build exceptional products from the ground up. Over the past {new Date().getFullYear() - 2012} years, I've been one of the first employees at several startups, shaping engineering culture and building products in PropTech, HR-tech, and Fin-tech.
  </p>
  <p class="mb-12 font-light text-xl leading-loose text-gray-800">
    Currently building <span class="font-medium">Norm</span> with a talented team, on a mission to make living energy efficient.
  </p>
</div>
