---
---

<div class="max-w-4xl mx-auto mb-16">
  <p class="mb-12 font-light text-xl leading-loose text-gray-800">
    For the past {new Date().getFullYear() - 2012} years, I have been busy working in the startup world building products in PropTech, HR-tech and Fin-tech. Several times, I have been one of the first employees in newly born startups having a big impact on the Engineering culture. With a background in computer science, I specialize in building web products from scratch.
  </p>
  <p class="mb-12 font-light text-xl leading-loose text-gray-800">
    Currently, I'm focusing on building Norm together with a highly talented team, on a mission to make living energy efficient.
  </p>
</div>
