---
---

<div class="leading-relaxed text-3xl antialiased font-light max-w-2xl mb-20 mx-auto text-center">
  Hi there! I'm Marius Colacioiu – <span class="font-medium">Engineering Leader</span> and{' '}
  <span class="font-medium">Entrepreneur</span> from Zürich, Switzerland.
</div>
