---
---

<div class="leading-relaxed text-3xl antialiased font-light max-w-2xl mb-8 mx-auto text-center">
  Hi there! I'm <span class="font-medium">Marius</span>
</div>
<div class="leading-relaxed text-xl font-light max-w-3xl mb-20 mx-auto text-center text-gray-700">
  <span class="font-medium">Engineering Leader</span> and <span class="font-medium">Entrepreneur</span> from Zürich, building products that make a difference.
</div>
